const readline = require('readline');
const net = require('net');
const fs = require('fs');
const handler = require('./{{.HandlerPath}}');

// Direct all console.log to stderr
function pipeStdin() {
    let buf = '';

    return new Promise(resolve => {

        const rl = readline.createInterface({
            input: process.stdin,
            output: process.stdout
        });

        rl.on('line', (line) => {
            buf += line;
        });

        rl.on('close', () => {
            resolve(buf)
        })
    });
}

function pipeIPC(fd) {
    return new Promise(resolve => {
        client = net.createConnection(fd)
            .on('connect', () => {
                client.write("connected");
            })
            .on('error', (err) => {
                console.error(`__system${err}`);
            })
            .on('data', (data) => {
                resolve(data.toString());
            })
    })

}
function main() {

    let args = process.argv.slice(2);
    let fd = args[0];
    pipeIPC(fd).then(input => {
        handler.handle(input, () => {
            console.log('Done');
        })
    });
}

main();

